<!DOCTYPE html>
<html>
<head>
    <title>Escape the Earth</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1 style="">Escape the Earth</h1>
    <div class="button-container">
        <a href="/html/game">
            <button class="button">Start Game</button>
        </a>
        <a href="/html/description">
            <button class="button">Description</button>
        </a> 
        <a href="/html/leaderboard">
            <button class="button">Leaderboard</button>
        </a>           
        <a href="/html/credits">
            <button class="button">Credits</button>
        </a> 
      </div>
      
</body>
</html>

  