---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
    body {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  
  @font-face {
    font-family: 'SpaceFont';
    src: url('/assets/fonts/SPACEBAR.ttf') format('truetype');
  }  

  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @font-face {
    font-family: 'StartFont';
    src: url('/assets/fonts/title.ttf') format('truetype');
  }

  .button {
    font-family: 'StartFont', sans-serif;
    padding: 20px 20px;
    font-size: 40px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 10px;
  }
  
  .button:hover {
    color: yellow; /* Change text color on hover */
    outline: none; /* Remove outline/border around text */
  }
  
  