---
---

@import "{{ site.theme }}";

/* "row style" is flexible size and aligns pictures in center */
.row {
    align-items: center;
    display: flex;
  }
  
  /* "column style" is one-third of the width with padding */
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  body {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

